<div class="row">
  <% @cocktails.each do |cktl| %>
    <div class="col-lg-2 col-md-3 col-sm-4 col-12">
      <%= link_to cocktail_path(cktl) do %>
        <div class="card my-4 bg-light shadow-sm bg-white rounded">
          <div class="card-body">
            <%= cktl.name %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
