
<div id="info">
  <div class="cocktail-img">
    placeholder
  </div>
  <div class="cocktail-ingredients">
    <ul>
      <% @cocktail.ingredients.each do |ingredient| %>
        <li><%= @cocktail.doses.select { |dose| dose.ingredient == ingredient}.first.description %> of <%= ingredient.name %></li>
      <% end %>
    </ul>
    <div class="d-flex justify-content-between align-items-center m-auto">
      <span>Add a new dose</span>
      <span>Edit existing dose</span>
      <span>Remove a dose</span>
    </div>
  </div>
</div>
