
<div class="align-items-center justify-content-left" id="info">
  <div class="cocktail-img"></div>
  <div class="cocktail-ingredients">
    <ul>
      <% @cocktail.ingredients.each do |ingredient| %>
        <li><%= @cocktail.doses.select { |dose| dose.ingredient == ingredient}.first.description %> of <%= ingredient.name %></li>
      <% end %>
    </ul>
  </div>
</div>
